USE [master]
GO
/****** Object:  Database [InternationalPaymentsDB]    Script Date: 2026/06/07 18:43:20 ******/
CREATE DATABASE [InternationalPaymentsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InternationalPaymentsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ROSEBANK\MSSQL\DATA\InternationalPaymentsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InternationalPaymentsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ROSEBANK\MSSQL\DATA\InternationalPaymentsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InternationalPaymentsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InternationalPaymentsDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026/06/07 18:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBeneficiary]    Script Date: 2026/06/07 18:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBeneficiary](
	[beneficiary_Id] [int] IDENTITY(1,1) NOT NULL,
	[customer_Id] [int] NOT NULL,
	[beneficiary_Name] [nvarchar](100) NOT NULL,
	[bank_Name] [nvarchar](100) NOT NULL,
	[account_Number] [nvarchar](20) NOT NULL,
	[swift_Code] [nvarchar](20) NOT NULL,
	[country] [nvarchar](150) NULL,
 CONSTRAINT [PK_tblBeneficiary] PRIMARY KEY CLUSTERED 
(
	[beneficiary_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomer]    Script Date: 2026/06/07 18:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomer](
	[customer_Id] [int] IDENTITY(1,1) NOT NULL,
	[first_Name] [nvarchar](150) NOT NULL,
	[last_Name] [nvarchar](150) NOT NULL,
	[id_Number] [nvarchar](13) NOT NULL,
	[email_Address] [nvarchar](150) NULL,
	[account_Number] [int] NOT NULL,
	[preferred_Currency] [nvarchar](50) NULL,
	[username] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](max) NOT NULL,
	[created_On] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tblCustomer] PRIMARY KEY CLUSTERED 
(
	[customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomerSession]    Script Date: 2026/06/07 18:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomerSession](
	[session_Id] [int] IDENTITY(1,1) NOT NULL,
	[customer_Id] [int] NOT NULL,
	[login_Time] [datetime2](7) NOT NULL,
	[logout_Time] [datetime2](7) NULL,
	[is_Active] [bit] NOT NULL,
	[session_Token_Hash] [nvarchar](128) NOT NULL,
	[expires_On] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tblCustomerSession] PRIMARY KEY CLUSTERED 
(
	[session_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 2026/06/07 18:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[employee_Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password_Hash] [nvarchar](max) NOT NULL,
	[full_Name] [nvarchar](150) NOT NULL,
	[is_Active] [bit] NOT NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeSession]    Script Date: 2026/06/07 18:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeSession](
	[employee_Session_Id] [int] IDENTITY(1,1) NOT NULL,
	[employee_Id] [int] NOT NULL,
	[login_Time] [datetime2](7) NOT NULL,
	[logout_Time] [datetime2](7) NULL,
	[is_Active] [bit] NOT NULL,
	[session_Token_Hash] [nvarchar](128) NOT NULL,
	[expires_On] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tblEmployeeSession] PRIMARY KEY CLUSTERED 
(
	[employee_Session_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMfaChallenge]    Script Date: 2026/06/07 18:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMfaChallenge](
	[mfa_Challenge_Id] [uniqueidentifier] NOT NULL,
	[customer_Id] [int] NOT NULL,
	[otp_Code_Hash] [nvarchar](128) NOT NULL,
	[created_On] [datetime2](7) NOT NULL,
	[expires_On] [datetime2](7) NOT NULL,
	[consumed_On] [datetime2](7) NULL,
	[attempt_Count] [int] NOT NULL,
 CONSTRAINT [PK_tblMfaChallenge] PRIMARY KEY CLUSTERED 
(
	[mfa_Challenge_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPayment]    Script Date: 2026/06/07 18:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayment](
	[payment_Id] [int] IDENTITY(1,1) NOT NULL,
	[customer_Id] [int] NOT NULL,
	[beneficiary_Id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[currency] [nvarchar](3) NOT NULL,
	[provider] [nvarchar](50) NOT NULL,
	[swift_Code] [nvarchar](20) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[created_On] [datetime2](7) NOT NULL,
	[verified_On] [datetime2](7) NULL,
	[verified_By_Employee_Id] [int] NULL,
	[submitted_To_Swift_On] [datetime2](7) NULL,
	[rejected_By_Employee_Id] [int] NULL,
	[rejected_On] [datetime2](7) NULL,
	[rejection_Reason] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblPayment] PRIMARY KEY CLUSTERED 
(
	[payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260606115704_InitialCreate', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260606124346_AddEmployeeSessions', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260607141440_AddPaymentRejectionFields', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[tblBeneficiary] ON 

INSERT [dbo].[tblBeneficiary] ([beneficiary_Id], [customer_Id], [beneficiary_Name], [bank_Name], [account_Number], [swift_Code], [country]) VALUES (1, 1, N'Global Supplier Ltd', N'Standard Bank', N'9876543210', N'SBZAZAJJ', N'South Africa')
SET IDENTITY_INSERT [dbo].[tblBeneficiary] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCustomer] ON 

INSERT [dbo].[tblCustomer] ([customer_Id], [first_Name], [last_Name], [id_Number], [email_Address], [account_Number], [preferred_Currency], [username], [password_hash], [created_On]) VALUES (1, N'John', N'Smith', N'9001015800081', N'john@example.com', 123456789, N'USD', N'johnsmith', N'PBKDF2$100000$/OHr3/Lwvc3S7+3Ew74VUQ==$KGNNY8wR3/ypFTmko1JX3sxpJCiY2v2uog7G0C3kC54=', CAST(N'2026-06-06T18:44:51.7195844' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tblCustomer] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCustomerSession] ON 

INSERT [dbo].[tblCustomerSession] ([session_Id], [customer_Id], [login_Time], [logout_Time], [is_Active], [session_Token_Hash], [expires_On]) VALUES (1, 1, CAST(N'2026-06-06T18:52:07.6043674' AS DateTime2), NULL, 1, N'TQHvuBk3cPZpT6I2uXLL4mwvDy25OJvvMEGYYhFmvZU=', CAST(N'2026-06-07T02:52:07.6047615' AS DateTime2))
INSERT [dbo].[tblCustomerSession] ([session_Id], [customer_Id], [login_Time], [logout_Time], [is_Active], [session_Token_Hash], [expires_On]) VALUES (2, 1, CAST(N'2026-06-06T19:18:01.4773756' AS DateTime2), NULL, 1, N'15VGdRVh96xYtUYC4F0zEC1R0xpdbjVImqSf4kRDdgE=', CAST(N'2026-06-07T03:18:01.4773815' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tblCustomerSession] OFF
GO
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([employee_Id], [username], [password_Hash], [full_Name], [is_Active]) VALUES (1, N'employee1', N'PBKDF2$100000$+Bnbp2nTyPzMX+BDgYK9yg==$lg761GmY+Y79UuRpL15qXr3OSMBjbavEwvqj/mpv1mo=', N'Andile Bolo', 1)
INSERT [dbo].[tblEmployee] ([employee_Id], [username], [password_Hash], [full_Name], [is_Active]) VALUES (2, N'employee2', N'PBKDF2$100000$+Bnbp2nTyPzMX+BDgYK9yg==$lg761GmY+Y79UuRpL15qXr3OSMBjbavEwvqj/mpv1mo=', N'Themba Msomi', 1)
INSERT [dbo].[tblEmployee] ([employee_Id], [username], [password_Hash], [full_Name], [is_Active]) VALUES (3, N'employee3', N'PBKDF2$100000$+Bnbp2nTyPzMX+BDgYK9yg==$lg761GmY+Y79UuRpL15qXr3OSMBjbavEwvqj/mpv1mo=', N'Thami Jantjie', 1)
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
GO
SET IDENTITY_INSERT [dbo].[tblEmployeeSession] ON 

INSERT [dbo].[tblEmployeeSession] ([employee_Session_Id], [employee_Id], [login_Time], [logout_Time], [is_Active], [session_Token_Hash], [expires_On]) VALUES (1, 1, CAST(N'2026-06-06T16:45:21.0958442' AS DateTime2), NULL, 1, N'9VWo2pyWkP1VFf7atmjR/qSNzqZBjIOg/A4ipTUAqPk=', CAST(N'2026-06-07T00:45:21.0969580' AS DateTime2))
INSERT [dbo].[tblEmployeeSession] ([employee_Session_Id], [employee_Id], [login_Time], [logout_Time], [is_Active], [session_Token_Hash], [expires_On]) VALUES (2, 1, CAST(N'2026-06-06T17:07:57.4863659' AS DateTime2), NULL, 1, N'MuX1OaQIaLAo5AZICnADoaSWHdblgLCWm9SElWNVOHM=', CAST(N'2026-06-07T01:07:57.4887020' AS DateTime2))
INSERT [dbo].[tblEmployeeSession] ([employee_Session_Id], [employee_Id], [login_Time], [logout_Time], [is_Active], [session_Token_Hash], [expires_On]) VALUES (3, 1, CAST(N'2026-06-06T17:22:09.5086075' AS DateTime2), NULL, 1, N'9Ybd2CiteIcTONkIaeBPNp0lUFvzrkWUJaS2shswb8g=', CAST(N'2026-06-07T01:22:09.5087012' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tblEmployeeSession] OFF
GO
INSERT [dbo].[tblMfaChallenge] ([mfa_Challenge_Id], [customer_Id], [otp_Code_Hash], [created_On], [expires_On], [consumed_On], [attempt_Count]) VALUES (N'14248860-ba1a-408d-a77b-0a63f0f345cb', 1, N'Wqi04rBt8QbF98aMhTk3Zgi+oOVfpgs5PozBcJt6pVI=', CAST(N'2026-06-06T18:47:28.1028921' AS DateTime2), CAST(N'2026-06-06T18:57:28.1029461' AS DateTime2), CAST(N'2026-06-06T18:52:07.6038516' AS DateTime2), 0)
INSERT [dbo].[tblMfaChallenge] ([mfa_Challenge_Id], [customer_Id], [otp_Code_Hash], [created_On], [expires_On], [consumed_On], [attempt_Count]) VALUES (N'de583349-dbd2-4edf-a505-982e945cbef1', 1, N'p8GXW+tYkheuXxZJ6EFJjEfmqySYhb9Rdj3/rA9Qc30=', CAST(N'2026-06-06T19:14:00.3900856' AS DateTime2), CAST(N'2026-06-06T19:24:00.3900858' AS DateTime2), CAST(N'2026-06-06T19:18:01.4773628' AS DateTime2), 0)
GO
SET IDENTITY_INSERT [dbo].[tblPayment] ON 

INSERT [dbo].[tblPayment] ([payment_Id], [customer_Id], [beneficiary_Id], [amount], [currency], [provider], [swift_Code], [status], [created_On], [verified_On], [verified_By_Employee_Id], [submitted_To_Swift_On], [rejected_By_Employee_Id], [rejected_On], [rejection_Reason]) VALUES (1, 1, 1, CAST(150.00 AS Decimal(18, 2)), N'USD', N'SWIFT', N'SBZAZAJJ', N'SubmittedToSwift', CAST(N'2026-06-06T20:10:18.7994308' AS DateTime2), CAST(N'2026-06-07T14:04:56.0363613' AS DateTime2), 1, CAST(N'2026-06-07T14:07:08.9124174' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblPayment] OFF
GO
/****** Object:  Index [IX_tblBeneficiary_customer_Id]    Script Date: 2026/06/07 18:43:20 ******/
CREATE NONCLUSTERED INDEX [IX_tblBeneficiary_customer_Id] ON [dbo].[tblBeneficiary]
(
	[customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblCustomerSession_customer_Id]    Script Date: 2026/06/07 18:43:20 ******/
CREATE NONCLUSTERED INDEX [IX_tblCustomerSession_customer_Id] ON [dbo].[tblCustomerSession]
(
	[customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblCustomerSession_session_Token_Hash]    Script Date: 2026/06/07 18:43:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblCustomerSession_session_Token_Hash] ON [dbo].[tblCustomerSession]
(
	[session_Token_Hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblEmployee_username]    Script Date: 2026/06/07 18:43:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblEmployee_username] ON [dbo].[tblEmployee]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblEmployeeSession_employee_Id]    Script Date: 2026/06/07 18:43:20 ******/
CREATE NONCLUSTERED INDEX [IX_tblEmployeeSession_employee_Id] ON [dbo].[tblEmployeeSession]
(
	[employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tblEmployeeSession_session_Token_Hash]    Script Date: 2026/06/07 18:43:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblEmployeeSession_session_Token_Hash] ON [dbo].[tblEmployeeSession]
(
	[session_Token_Hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblMfaChallenge_customer_Id]    Script Date: 2026/06/07 18:43:20 ******/
CREATE NONCLUSTERED INDEX [IX_tblMfaChallenge_customer_Id] ON [dbo].[tblMfaChallenge]
(
	[customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPayment_beneficiary_Id]    Script Date: 2026/06/07 18:43:20 ******/
CREATE NONCLUSTERED INDEX [IX_tblPayment_beneficiary_Id] ON [dbo].[tblPayment]
(
	[beneficiary_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPayment_customer_Id]    Script Date: 2026/06/07 18:43:20 ******/
CREATE NONCLUSTERED INDEX [IX_tblPayment_customer_Id] ON [dbo].[tblPayment]
(
	[customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tblPayment_verified_By_Employee_Id]    Script Date: 2026/06/07 18:43:20 ******/
CREATE NONCLUSTERED INDEX [IX_tblPayment_verified_By_Employee_Id] ON [dbo].[tblPayment]
(
	[verified_By_Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCustomer] ADD  DEFAULT (getdate()) FOR [created_On]
GO
ALTER TABLE [dbo].[tblBeneficiary]  WITH CHECK ADD  CONSTRAINT [FK_tblBeneficiary_tblCustomer_customer_Id] FOREIGN KEY([customer_Id])
REFERENCES [dbo].[tblCustomer] ([customer_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblBeneficiary] CHECK CONSTRAINT [FK_tblBeneficiary_tblCustomer_customer_Id]
GO
ALTER TABLE [dbo].[tblCustomerSession]  WITH CHECK ADD  CONSTRAINT [FK_tblCustomerSession_tblCustomer_customer_Id] FOREIGN KEY([customer_Id])
REFERENCES [dbo].[tblCustomer] ([customer_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblCustomerSession] CHECK CONSTRAINT [FK_tblCustomerSession_tblCustomer_customer_Id]
GO
ALTER TABLE [dbo].[tblEmployeeSession]  WITH CHECK ADD  CONSTRAINT [FK_tblEmployeeSession_tblEmployee_employee_Id] FOREIGN KEY([employee_Id])
REFERENCES [dbo].[tblEmployee] ([employee_Id])
GO
ALTER TABLE [dbo].[tblEmployeeSession] CHECK CONSTRAINT [FK_tblEmployeeSession_tblEmployee_employee_Id]
GO
ALTER TABLE [dbo].[tblMfaChallenge]  WITH CHECK ADD  CONSTRAINT [FK_tblMfaChallenge_tblCustomer_customer_Id] FOREIGN KEY([customer_Id])
REFERENCES [dbo].[tblCustomer] ([customer_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblMfaChallenge] CHECK CONSTRAINT [FK_tblMfaChallenge_tblCustomer_customer_Id]
GO
ALTER TABLE [dbo].[tblPayment]  WITH CHECK ADD  CONSTRAINT [FK_tblPayment_tblBeneficiary_beneficiary_Id] FOREIGN KEY([beneficiary_Id])
REFERENCES [dbo].[tblBeneficiary] ([beneficiary_Id])
GO
ALTER TABLE [dbo].[tblPayment] CHECK CONSTRAINT [FK_tblPayment_tblBeneficiary_beneficiary_Id]
GO
ALTER TABLE [dbo].[tblPayment]  WITH CHECK ADD  CONSTRAINT [FK_tblPayment_tblCustomer_customer_Id] FOREIGN KEY([customer_Id])
REFERENCES [dbo].[tblCustomer] ([customer_Id])
GO
ALTER TABLE [dbo].[tblPayment] CHECK CONSTRAINT [FK_tblPayment_tblCustomer_customer_Id]
GO
ALTER TABLE [dbo].[tblPayment]  WITH CHECK ADD  CONSTRAINT [FK_tblPayment_tblEmployee_verified_By_Employee_Id] FOREIGN KEY([verified_By_Employee_Id])
REFERENCES [dbo].[tblEmployee] ([employee_Id])
GO
ALTER TABLE [dbo].[tblPayment] CHECK CONSTRAINT [FK_tblPayment_tblEmployee_verified_By_Employee_Id]
GO
USE [master]
GO
